nav .navbar-brand {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
}

nav .navbar-brand:hover {
  transform: scale(1.1);
  text-shadow: 1px 2px 3px white;
}

nav .nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

nav .nav-link:hover {
  transform: scale(1.1);
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(/images/the-expanse3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 350px 0;
  color: white;
  text-transform: uppercase;
}

.hero h2 {
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 120px;
  font-family: "Oswald", sans-serif;
  text-align: left;
}

h2 {
  font-size: 75px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

p {
  font-size: 18px;
  font-family: "Noto Sans Kawi", sans-serif;
}
